---
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Jeremy Roche</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="http://www.jeremyroche.net/css/normalize.css">
  <link rel="stylesheet" href="http://www.jeremyroche.net/css/skeleton.css">
  <link rel="stylesheet" href="http://www.jeremyroche.net/css/custom.css">
  <link href='http://fonts.googleapis.com/css?family=Lobster:400,300,600' rel='stylesheet' type='text/css'>

  <!-- Scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="http://www.jeremyroche.net/css/github-prettify-theme.css">
  <script src="http://www.jeremyroche.net/js/site.js"></script>

  <!-- Favicon   -->
  <link rel="icon" type="image/png" href="http://www.jeremyroche.net/dist/images/favicon.png">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


  
  </head>
  <body>
    <div class="container">
                  
                  <div class="twelve columns">
    <h3><div style="font-family: 'Lobster', cursive;">
    <a href="http://www.jeremyroche.net/" style="text-decoration:none;"><div style="color:black;">Jeremy Roche</div></a>
    </div></h3>
                    <hr></hr>
                  </div>


          <div class="row">
                  <div class="eight columns">

{% for post in site.posts limit 25 %}
    
      <h2> {{ post.title }} </h2>
       
       {{ post.content }}
  <small>{{ page.date }}</small>
  <hr></hr>  
  {% endfor %}


                  </div>                
  


                  <div class="four columns">
                     <b>Recent Posts</b> 
                    <hr></hr>

<ul>
  {% for post in site.posts limit: 5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>


     
    </li>
  {% endfor %}

  
</ul>



                
                  </div>


        </div>
          <div class="row">
                  <div class="twelve columns">
                    <hr></hr>
                  </div>
          </div>
          <div class="row">

                  <div class="twelve columns" style="text-align: center;">
                      <a href="https://www.linkedin.com/in/jdroche" style="text-decoration:none;"><i style="padding: 15x;" class="fa fa-linkedin fa-4x"></i></a>
                      <a href="https://twitter.com/rochejeremy"><i style="padding: 15px;" class="fa fa-twitter fa-4x"></i></a>
                      <a href="https://plus.google.com/u/0/117753035995872635350/reviews/p/pub"><i style="padding: 15px;" class="fa fa-google-plus fa-4x"></i></a> 
                      <a href="http://blog.jeremyroche.net"><i style="padding: 15px;" class="fa fa-pencil-square-o fa-4x"></i></a>
                  </div>
                  
                  
          </div>
  </div>
  </body>
</html>
