<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Meta Data Info -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{variable.snippet}}">
  <meta name="author" content="{{site.author}}">
  
  <!-- meta data for twitter card -->
  <meta name="twitter:card" content="Summary" />
  <meta name="twitter:site" content="@rochejeremy" />
  <meta name="twitter:creator" content="@rochejeremy" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:title" content="{{page.title }}" />
  <meta property="og:description" content="{{page.title }}" />
  <meta property="og:image" content="https://s3.amazonaws.com/jeremyroche.net/images/{{page.post-file}}" />

  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="http://www.jeremyroche.net/css/normalize.css">
  <link rel="stylesheet" href="http://www.jeremyroche.net/css/skeleton.css">
  <link rel="stylesheet" href="http://www.jeremyroche.net/css/custom.css">
  <link href='http://fonts.googleapis.com/css?family=Lobster:400,300,600' rel='stylesheet' type='text/css'>

  <!-- Scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="http://www.jeremyroche.net/css/github-prettify-theme.css">
  <script src="http://www.jeremyroche.net/js/site.js"></script>

  <!-- Favicon   -->
  <link rel="icon" type="image/png" href="http://www.jeremyroche.net/images/favicon.png">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">




</head>
<body>
<div class="container">

<div class="twelve columns">
    <h3><div style="font-family: 'Oswald'">
    <a href="http://www.jeremyroche.net/" style="text-decoration:none;"><div style="color:black;">Jeremy Roche</div></a>
    </div></h3>
                    <hr></hr>
                  
